name: Deploy Studylog

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy
        run: bash /home/richard/Desktop/studylog/raspberry-study-session/deploy.sh